{% extends "base.html" %}
{% block content %}

<div class="card" style="
    max-width: 700px;
    width: 95%;
">

    <h1 style="
        margin-bottom: 30px;
        color: var(--text);
    ">
        📱 Мобильная связь
    </h1>


    <form action="/payment/mobile" method="POST">

        <select name="operator" required>

            <option value="">Выберите оператора</option>
            <option value="Beeline">Beeline</option>
            <option value="Activ">Activ</option>
            <option value="Tele2">Tele2</option>
            <option value="Altel">Altel</option>

        </select>


        <input type="text"
               name="phone"
               placeholder="+7 (777) 777 77 77"
               required>


        <input type="number"
               step="0.01"
               name="amount"
               placeholder="Сумма пополнения"
               required>


        <button type="submit"
                class="btn btn-primary">

            Оплатить

        </button>

    </form>


    <a href="/payments"
       style="
            display:block;
            margin-top:20px;
            color:#1a73e8;
            text-decoration:none;
       ">

        ← Назад к платежам

    </a>

</div>

{% endblock %}